---
import type { CollectionEntry } from "astro:content";
import { getPostUrl } from "@/utils/getPostPaths";
import { slugifyStr } from "@/utils/slugify";
import Datetime from "./Datetime.astro";

type Props = {
  variant?: "h2" | "h3";
} & CollectionEntry<"posts">;

const { variant: Heading = "h2", id, data, filePath } = Astro.props;

const { title, description, ...props } = data;
---

<li class="my-8">
  <a
    href={getPostUrl(id, filePath, Astro.currentLocale)}
    class="border-border bg-white block overflow-hidden rounded-xl border transition hover:-translate-y-1 hover:shadow-lg"
  >
    {
  data.featuredImage ? (
    <img
      src={data.featuredImage.src}
      alt={title}
      class="aspect-[16/9] w-full object-cover"
    />
  ) : (
    <div class="aspect-[16/9] bg-muted"></div>
  )
}

    <div class="p-5">
      <Heading
        transition:name={slugifyStr(title.replaceAll(".", "-"))}
        class="mb-2 text-xl font-semibold"
      >
        {title}
      </Heading>

      <Datetime {...props} />

      <p class="mt-3 text-sm leading-relaxed">
        {description}
      </p>
    </div>
  </a>
</li>